.code-zone {
  display: grid;
  grid-template-columns: 60% 40%;
  height: calc(100vw - 60px - 1rem);
  width: calc(100vw - 2rem);
  overflow: hidden;
}

.code-editor {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

.code-tool-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 15px 15px 0 0;
}

.code-tool-bar > * {
  margin: auto 0.5em;
}

.code-tool-bar h2 {
  text-align: center;
}

.container {
  padding: 1rem;
  margin-bottom: 1rem;
}

.container--rounded {
  border-radius: 15px;
  margin: 0 1rem 1rem 1rem;
}

.container--description {
  height: 50%;
  overflow: auto;
  flex-direction: column;
}

.container--description h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container--description h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.container--description table {
  margin: 1rem 0;
  border: 2px solid var(--chakra-colors-chakra-border-color);
  background-color: var(--chakra-colors-chakra-body-bg);
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
.container--description td,
.container--description th {
  border: 1px solid var(--chakra-colors-chakra-border-color);
  padding: 3px 2px;
}
.container--description tbody td {
  font-size: 13px;
  color: var(--chakra-colors-chakra-body-text);
}
.container--description tr:nth-child(even) {
  background-color: var(--chakra-colors-chakra-subtle-bg);
}
.container--description thead {
  background: var(--chakra-colors-chakra-subtle-bg);
  border-bottom: 3px solid var(--chakra-colors-chakra-border-color);
}
.container--description thead th {
  font-size: 15px;
  font-weight: bold;
  color: var(--chakra-colors-chakra-body-text);
  text-align: center;
  border-left: 2px solid var(--chakra-colors-chakra-border-color);
}
.container--description thead th:first-child {
  border-left: none;
}

.container--description tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #e6e6e6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(
    top,
    #404040 0%,
    #191919 66%,
    #000000 100%
  );
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4a4a4a;
}
.container--description tfoot td {
  font-size: 12px;
}
.container--output {
  height: 50%;
  flex-direction: column;
}

.code-zone--right {
  margin-left: 1rem;
  max-height: calc(100vh - 2rem - 60px);
}

.code-zone--right > div {
  width: 100%;
}

.output {
  transition: background-color 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
}
.output--success {
  background-color: green !important;
}
.output--failure {
  background-color: red !important;
}

.inline {
  display: flex;
  flex-direction: row;
}
.info {
  font-size: small;
  font-style: italic;
  padding-left: 0.5em;
}

.code-output {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.output-tab {
  height: calc((100vh / 2) - 5rem - 41px);
  overflow: auto;
}